@model LMS_API.Models.Publication.Publication
@{
    ViewData["Title"] = "PublicationDetail";
}

<h1>Publication Detail</h1>


<div class="container">
    @*<div class="form-control">*@
    <table width="500px;">
        <tr>
            <td><b>@Html.DisplayNameFor(m=>m.PublicationName):</b></td>
            <td>@Html.DisplayFor(m=>m.PublicationName)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(m=>m.PubAddress):</b></td>
            <td>@Html.DisplayFor(m=>m.PubAddress)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(m=>m.PublicationPhNumber):</b></td>
            <td>@Html.DisplayFor(m=>m.PublicationPhNumber)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(m=>m.Email):</b></td>
            <td>@Html.DisplayFor(m=>m.Email)</td>
        </tr>

        <tr>
            <td>
                <a class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this!! ');" asp-action="DeletePublication" asp-controller="PublicationConsume" asp-route-id="@Model.ID">Delete</a> |
                <a class="btn btn-sm btn-info float-right 2" asp-action="Index" asp-controller="PublicationConsume">Back To List</a>
            </td>

        </tr>

    </table>



    @* </div>*@
</div>

